@model Document_Control.Core.pageModels.PurchaseRequisition.ApprovalPR

<div class="card recent-sales overflow-auto" id="componentApproval">
	<div class="card-body">
		<h5 class="card-title">ผู้อนุมัติ <span>| Approver</span></h5>
		<table class="table table-bordered">
			<tr>
				<th scope="col">ตำแหน่ง</th>
				<th scope="col">วงเงิน</th>
			</tr>
			<tbody>
				@if (Model != null && Model.approvalLists != null && Model.approvalLists.Count > 0)
				{
					foreach (var item in Model.approvalLists)
					{
						<tr>
							<td><span class="badge bg-info me-1" onclick="showListApproval('@item.PositionId')">แสดง</span>@item.PositionName</td>
							<td>@item.Budget</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="2" class="text-center">ไม่พบข้อมูล</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div> 