<div class="card recent-sales overflow-auto">
	<div class="card-body">
		<h5 class="card-title">ผู้อนุมัติ <span>| Approver</span></h5>
		<table class="table table-bordered">
			<tr>
				<th scope="col">ตำแหน่ง</th>
				<th scope="col">วงเงิน</th>
			</tr>
			<tbody>
				<tr>
					<td><span class="badge bg-info me-1" onclick="$('#positionApprove').modal('show');">แสดง</span>เจ้าหน้าที่</td>
					<td>#100,000</td>
				</tr>
				<tr>
					<td><span class="badge bg-info me-1" onclick="$('#positionApprove').modal('show');">แสดง</span>นายกรัฐมนตรี</td>
					<td>#500,000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> 