@model Document_Control.Core.pageModels.PurchaseRequisition.TabStatusBar


<h5 class="card-title">สถานะ | <span class="text-primary" style="font-weight:bold;font-size:20px;"> @Model?.StatusName</span></h5>
<div class="activity">
	@if (Model != null && Model?.lStatus?.Count > 0)
	{
		foreach (var item in Model.lStatus)
		{
			<div class="activity-item d-flex">
				<div class="activite-label"></div>

				@if (item.Flag == 0)
				{
					<i class="bi bi-circle-fill activity-badge text-secondary align-self-start"></i>
				}
				else if (item.Flag == 1)
				{
					<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
				}	
				<div class="activity-content">
					<b>@item.StatusName</b><br />
				</div>
			</div>
		}
	}
</div>