<div class="activity">
	<div class="activity-item d-flex">
		<div class="activite-label"></div>
		<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
		<div class="activity-content">
			<b>สร้างเอกสาร</b><br />ชาติ เลิศคุณวงส์
		</div>
	</div>

	<div class="activity-item d-flex">
		<div class="activite-label"></div>
		<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
		<div class="activity-content">
			<b>รออนุมัติ</b><br />ประยุทธ์ จันทร์นะจ๊ะ
		</div>
	</div>
	<div class="activity-item d-flex">
		<div class="activite-label"></div>
		<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
		<div class="activity-content">
			<b>ดำเนินการเสร็จสิ้น</b>
		</div>
	</div>
</div>