@{
	ViewData["Title"] = "แจ้งชำระเงิน";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
	.dashboard .activity .activity-item .activite-label {
		min-width: 0px;
	}
</style>

<main id="main" class="main">
	@* 	<div class="pagetitle">
	<h1>ใบขอซื้อ</h1>
	</div> *@
	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-xxl-4 col-xl-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">ข้อมูล <span>| Request Information</span></h5>
								<div class="row">
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-calendar-todo-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>วันที่สร้าง :</b> </div>
													<div class="col col-12 ga-text-lh-10">07/04/2024 00:29:02 </div>
												</div>

											</div>
										</div>
									</div>

									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-article-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>เลขที่เอกสาร :</b> </div>
													<div class="col col-12 ga-text-lh-10">#11050</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-file-user-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>ชื่อ-นามสกุล :</b> </div>
													<div class="col col-12 ga-text-lh-10">ประยุทธ์ จันทร์นะจ๊ะ</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-6 mb-1">
										<div class="row">
											<div class="col-2">
												<i class="ri-git-repository-fill icon-size"></i>
											</div>
											<div class="col-10">
												<div class="row">
													<div class="col col-12 ga-text-grey ga-text-font-size-1rem "><b>ตำแหน่ง :</b> </div>
													<div class="col col-12 ga-text-lh-10">นายกรัฐมนตรี</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								@* 							<div class="col-md-6">
								<label for="inputName5" class="form-label">Your Name</label>
								<input type="text" class="form-control" >
								</div>
								*@
							</div>
						</div>

					</div>
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">รายละเอียด <span>/Detail</span></h5>
								<div class="row g-3">
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>หัวเรื่อง</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>งบประมาน</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>บริษัท</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>แผนก</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-6">
										<label class="form-label"><b>พนักงาน</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-6">
										<label class="form-label"><b class="text-danger me-1">*</b><b>ซัพพลายเออร์</b></label>
										<input type="text" class="form-control">
									</div>
									<div class="col-12">
										<label class="form-label"><b class="text-danger me-1">*</b><b>รายละเอียดเพิ่มเติม</b></label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
								</div>


							</div>

						</div>
					</div>
					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="card-body">
								<h5 class="card-title">ไฟล์แนบ <span>| Attach Files</span></h5>
								<table class="table table-bordered">
									<tr>
										<th scope="col">ชื่อไฟล์</th>
									</tr>
									<tbody>
										<tr>
											<td><span class="badge bg-danger me-1" onclick="$('#positionApprove').modal('show');">ลบ</span>รายละเอียดขอจัดซื้อเรือดำน้ำ 15 ลำ</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="card-body">
								<h5 class="card-title">ผู้อนุมัติ <span>| Approver</span></h5>
								<table class="table table-bordered">
									<tr>
										<th scope="col">ตำแหน่ง</th>
										<th scope="col">วงเงิน</th>
									</tr>
									<tbody>
										<tr>
											<td><span class="badge bg-info me-1" onclick="$('#positionApprove').modal('show');">แสดง</span>เจ้าหน้าที่</td>
											<td>#100,000</td>
										</tr>
										<tr>
											<td><span class="badge bg-info me-1" onclick="$('#positionApprove').modal('show');">แสดง</span>นายกรัฐมนตรี</td>
											<td>#500,000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="card recent-sales overflow-auto">
							<div class="card-body">
								<h5 class="card-title">หมายเหตุ <span>| Reason</span></h5>
								<div class="row g-3">
									<div class="col-12">
										<textarea class="form-control" rows="3"></textarea>
									</div>
									<div class="col-12">
										<button type="button" class="btn btn-primary"><i class="ri-draft-fill me-1"></i>บันทึกร่าง</button>
										<button type="button" class="btn btn-success"><i class="ri-save-3-fill me-1"></i>บันทึก</button>
										<button type="button" class="btn btn-danger"><i class="ri-arrow-go-back-fill me-1"></i>ส่งกลับ</button>
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="col-12 mt-4">
						<div class="card top-selling overflow-auto">


							<div class="card-body pb-0">
								<h5 class="card-title">ประวัติ <span>| History</span></h5>

								<table class="table table-borderless">
									<thead>
										<tr>

											<th scope="col">วันที่</th>
											<th scope="col">ชื่อ-นามสกุล</th>
											<th scope="col">ตำแหน่ง</th>
											<th scope="col">หมายเหตุ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1/7/2024 12:14:00</td>
											<td>ชาติ เลิศคุณวงส์</td>
											<td>เจ้าหน้าที่</td>
											<td>ขออนุมัติเรือดำน้ำ</td>
										</tr>
										<tr>
											<td>2/7/2024 15:30:00</td>
											<td>ประยุทธ์ จันทร์นะจ๊ะ</td>
											<td>นายกรัฐมนตรี</td>
											<td>ok อนุมัติ</td>
										</tr>
									</tbody>
								</table>

							</div>

						</div>
					</div><!-- End Top Selling -->

				</div>
			</div><!-- End Left side columns -->
			<!-- Right side columns -->
			<div class="col-lg-4">

				<!-- Recent Activity -->
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">สถานะ <span>| Status</span></h5>

						<div class="activity">
							<div class="activity-item d-flex">
								<div class="activite-label"></div>
								<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
								<div class="activity-content">
									<b>สร้างเอกสาร</b><br />ชาติ เลิศคุณวงส์
								</div>
							</div>

							<div class="activity-item d-flex">
								<div class="activite-label"></div>
								<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
								<div class="activity-content">
									<b>อนุมัติ</b><br />ประยุทธ์ จันทร์นะจ๊ะ
								</div>
							</div>
							<div class="activity-item d-flex">
								<div class="activite-label"></div>
								<i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
								<div class="activity-content">
									ดำเนินการเสร็จสิ้น
								</div>
							</div>

						</div>

					</div>
				</div><!-- End Recent Activity -->




			</div><!-- End Right side columns -->

		</div>

		<!-- #region name -->

		<div class="modal fade" id="positionApprove" tabindex="-1" aria-modal="true" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">ผู้อนุมัติ</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th scope="col">ชื่อ-นามสกุล</th>
									<th scope="col">ติดต่อ</th>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>ชาติ เลิศคุณวงส์</td>
									<td>099-2978004</td>
								</tr>
								<tr>
									<td>ประยุทธ์ จันทร์นะจ๊ะ</td>
									<td>099-2978006</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
					</div>
				</div>
			</div>
		</div>

		<!-- #endregion -->

	</section>

</main>
@section Scripts {
	<script>
		$(document).ready(function () {

		});
	</script>
}