@{
	ViewData["Title"] = "Purchase Requisition";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">
	<div class="pagetitle">
		<h1>ใบขอซื้อ</h1>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">รายการพัสดุ</h5>

						<div class="row">
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary btn-sm"><i class="ri-printer-fill icon-size-btn me-1"></i>ชำระเงิน</button>
								<button type="button" class="btn btn-primary btn-sm"><i class="ri-car-fill icon-size-btn me-1"></i>แนบหลักฐานการชำระ</button>
							</div>

						</div>


					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">รายการ</h5>
						<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
							<div class="datatable-top">
								<div class="datatable-dropdown">
									<label>
										<select class="datatable-selector" name="per-page"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="-1">All</option></select> entries per page
									</label>
								</div>
								<div class="datatable-search">
									<input class="datatable-input" placeholder="Search..." type="search" name="search" title="Search within table">
								</div>
							</div>
							<div class="datatable-container">
								<table class="table datatable datatable-table">
									<thead>
										<tr>
											<th></th>
											<th data-sortable="true"><button class="datatable-sorter">วันที่</button></th>
											<th data-sortable="true"><button class="datatable-sorter">ผู้รับ</button></th>
											<th data-sortable="true"><button class="datatable-sorter">น้ำหนัก</button></th>
											<th data-sortable="true"><button class="datatable-sorter">ขนาด</button></th>
											<th data-sortable="true"><button class="datatable-sorter">ที่อยู่</button></th>
										</tr>
									</thead>
									<tbody>
										<tr data-index="0">
											<td><input class="form-check-input" type="checkbox"></td>
											<td>10/10/2024</td>
											<td>จิรพัฒน์ ศรีเจริญพาณิชย์</td>
											<td>10*10*10</td>
											<td>-</td>
											<td>สีลม</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="datatable-bottom">
								<div class="datatable-info">Showing 1 to 10 of 100 entries</div>
								<nav class="datatable-pagination"><ul class="datatable-pagination-list"><li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">‹</button></li><li class="datatable-pagination-list-item datatable-active"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">2</button></li><li class="datatable-pagination-list-item"><button data-page="3" class="datatable-pagination-list-item-link" aria-label="Page 3">3</button></li><li class="datatable-pagination-list-item"><button data-page="4" class="datatable-pagination-list-item-link" aria-label="Page 4">4</button></li><li class="datatable-pagination-list-item"><button data-page="5" class="datatable-pagination-list-item-link" aria-label="Page 5">5</button></li><li class="datatable-pagination-list-item"><button data-page="6" class="datatable-pagination-list-item-link" aria-label="Page 6">6</button></li><li class="datatable-pagination-list-item"><button data-page="7" class="datatable-pagination-list-item-link" aria-label="Page 7">7</button></li><li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><button class="datatable-pagination-list-item-link">…</button></li><li class="datatable-pagination-list-item"><button data-page="10" class="datatable-pagination-list-item-link" aria-label="Page 10">10</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">›</button></li></ul></nav>
							</div>
						</div>
						<!-- End Table with stripped rows -->

					</div>
				</div>
			</div>
		</div>






	</section>

</main>
@section Scripts {
	<script>
		$(document).ready(function () {
			controller.login = function () {
				services.AjaxPostData("@Url.Action("Login", "Login")", { userName: $('#log_username').val(), passWord: $('#log_password').val() }, function (response) {
					services.CustomAlert1(response);
				});
			}
		});


		// window.fbAsyncInit = function () {
		//     FB.init({
		//         appId: 'YOUR_APP_ID', // Replace 'YOUR_APP_ID' with your actual Facebook App ID
		//         cookie: true,
		//         xfbml: true,
		//         version: 'v12.0' // Use the latest version
		//     });

		//     FB.AppEvents.logPageView();
		// };

		// (function (d, s, id) {
		//     var js, fjs = d.getElementsByTagName(s)[0];
		//     if (d.getElementById(id)) { return; }
		//     js = d.createElement(s); js.id = id;
		//     js.src = "https://connect.facebook.net/en_US/sdk.js";
		//     fjs.parentNode.insertBefore(js, fjs);
		// }(document, 'script', 'facebook-jssdk'));

		// function checkLoginState() {
		//     FB.getLoginStatus(function (response) {
		//         statusChangeCallback(response);
		//     });
		// }

		// function statusChangeCallback(response) {
		//     if (response.status === 'connected') {
		//         // Logged into your app and Facebook.
		//         testAPI();
		//     } else {
		//         // The person is not logged into your app or we are unable to tell.
		//         console.log('User not authenticated');
		//     }
		// }

		// function testAPI() {
		//     FB.api('/me', { fields: 'name,email' }, function (response) {
		//         console.log('Successful login for: ' + response.name);
		//         console.log('Email: ' + response.email);
		//         // You can now use this data in your app
		//     });
		// }
	</script>
}