@model Document_Control.Core.pageModels.ManagePosition.PageManagePositionSave
<div class="modal fade" id="positionApprove" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">จัดการ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formdata">
                    <div class="row g-3">
                        <div class="col-6">
                            <label class="form-label"><b>รหัส</b></label>
                            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-6">
                            <label class="form-label"><b class="text-danger me-1">*</b><b>ตำแหน่ง</b></label>
                            @Html.TextBoxFor(x => x.PositionName, new { @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="controller.update();" class="btn btn-info text-white"><i class="ri-save-3-fill me-1"></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>