@{
	ViewData["Title"] = "สร้างรายการ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">

	<div class="pagetitle">
		<h1>สร้างรายการ</h1>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">ผู้ส่ง (ที่อยู่เข้ารับพัสดุ)</h5>
						<form class="row g-3">
							<div class="col-md-6">
								<label class="form-label">
									ชื่อผู้ส่ง<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control input-sm" placeholder="ชื่อผู้ส่ง">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									เบอร์โทร<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="เบอร์โทร">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									ที่อยู่<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="ที่อยู่">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									ตำบล<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="ตำบล">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									อำเภอ<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="อำเภอ">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									จังหวัด<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="จังหวัด">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									รหัสไปรษณีย์<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="รหัสไปรษณีย์">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">ผู้รับ (ที่อยู่ในการจัดส่ง)</h5>
						<form class="row g-3">
							<div class="col-md-6">
								<label class="form-label">
									ชื่อผู้ส่ง<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="ชื่อผู้ส่ง">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									เบอร์โทร<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="เบอร์โทร">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									ที่อยู่<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="ที่อยู่">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									ตำบล<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="ตำบล">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									อำเภอ<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="อำเภอ">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									จังหวัด<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="จังหวัด">
							</div>
							<div class="col-md-6">
								<label class="form-label">
									รหัสไปรษณีย์<span class="text-danger">*</span>
								</label>
								<input type="text" class="form-control" placeholder="รหัสไปรษณีย์">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row mt-3">
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>บันทึก</button>

							</div>

						</div>

					</div>
				</div>
			</div>


			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">รายการ</h5>
						<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
							<div class="datatable-top">
								<div class="datatable-dropdown">
									<label>
										<select class="datatable-selector" name="per-page"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="-1">All</option></select> entries per page
									</label>
								</div>
								<div class="datatable-search">
									<input class="datatable-input" placeholder="Search..." type="search" name="search" title="Search within table">
								</div>
							</div>
							<div class="datatable-container">
								<table class="table datatable datatable-table">
									<thead>
										<tr>
											<th data-sortable="true"><button class="datatable-sorter">ผู้รับ</button></th>
											<th data-sortable="true"><button class="datatable-sorter">เบอร์โทร</button></th>
											<th data-sortable="true"><button class="datatable-sorter">ที่อยู่</button></th>
											<th data-sortable="true"><button class="datatable-sorter">จังหวัด</button></th>
											<th data-sortable="true"><button class="datatable-sorter">รหัสไปรษณีย์</button></th>
											<th data-sortable="true" class="text-center"><button class="datatable-sorter">จัดการ</button></th>
										</tr>
									</thead>
									<tbody>
										<tr data-index="0">
											<td>จิรพัฒน์ ศรีเจริญพาณิชย์</td>
											<td>0927259989</td>
											<td>กทม สีลม</td>
											<td>กรุงเทพ</td>
											<td>10110</td>
											<td>
												<button type="button" class="btn btn-danger btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>ลบ</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="datatable-bottom">
								<div class="datatable-info">Showing 1 to 10 of 100 entries</div>
								<nav class="datatable-pagination"><ul class="datatable-pagination-list"><li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">‹</button></li><li class="datatable-pagination-list-item datatable-active"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">1</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">2</button></li><li class="datatable-pagination-list-item"><button data-page="3" class="datatable-pagination-list-item-link" aria-label="Page 3">3</button></li><li class="datatable-pagination-list-item"><button data-page="4" class="datatable-pagination-list-item-link" aria-label="Page 4">4</button></li><li class="datatable-pagination-list-item"><button data-page="5" class="datatable-pagination-list-item-link" aria-label="Page 5">5</button></li><li class="datatable-pagination-list-item"><button data-page="6" class="datatable-pagination-list-item-link" aria-label="Page 6">6</button></li><li class="datatable-pagination-list-item"><button data-page="7" class="datatable-pagination-list-item-link" aria-label="Page 7">7</button></li><li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled"><button class="datatable-pagination-list-item-link">…</button></li><li class="datatable-pagination-list-item"><button data-page="10" class="datatable-pagination-list-item-link" aria-label="Page 10">10</button></li><li class="datatable-pagination-list-item"><button data-page="2" class="datatable-pagination-list-item-link" aria-label="Page 2">›</button></li></ul></nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>






	</section>

</main>
@section Scripts {
	<script>
		$(document).ready(function () {

		});
	</script>
}