@{
    ViewData["Title"] = "Authen";
    Layout = "~/Views/Shared/_Blank.cshtml";
}

@{
    var backgroundImageUrl = Url.Content("~/smooth-e-logo.png");
}
<style>
    .background-logo {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        max-width: 800px;
        padding: 20px;
    }

    .section.register {
        padding-top: 10px; /* Reduce top padding */
        padding-bottom: 40px; /* Add bottom padding to push content up */
    }
</style>
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center">
                            <a href="index.html" class="logo d-flex align-items-center w-auto"></a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <img src="@backgroundImageUrl" class="background-logo" />
                                </div>
                                <form class="row g-3 needs-validation" novalidate>
                                    <div class="col-12">
                                        <label class="form-label">ชื่อผู้ใช้งาน</label>
                                        <div class="input-group has-validation">
                                            <input type="text" name="username" class="form-control" id="log_username" placeholder="บัญชี" required>
                                            <div class="invalid-feedback">Please enter your username.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label">รหัสผ่าน</label>
                                        <input type="password" name="password" class="form-control" id="log_password" placeholder="********" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>
                                    <div class="col-12">
                                        <input style="background-color: #00A897;" class="btn btn-sm w-100 text-white" type="button" value="เข้าสู่ระบบ" onclick="controller.login();" />

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
@section Scripts {
    <script>
        $(document).ready(function () {
            controller.login = function () {
                services.AjaxPostData("@Url.Action("Login", "Login")", { userName: $('#log_username').val(), passWord: $('#log_password').val() }, function (response) {
                    services.CustomAlert1(response);
                });
            }
        });
    </script>
}