@{
	ViewData["Title"] = "Home Page";
}
@model SmootE_Shipment_Web.Core.pageModels.Home.Worklist
<main id="main" class="main">

	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body">
						<h5 class="card-title">รายงาน <span>| WorkList</span></h5>
						@await Component.InvokeAsync("WorkListTableComponent",Model.data)
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

@section Scripts {
		<script>
			$(document).ready(function () {
				controller.oncancel = function (id) {
					services.ConfirmAlert("", "", "", "", "", function (result) {
						if (result.isConfirmed) {
							$.ajax({
									url: '@Url.Action("Cancel", "Home")',
								type: 'POST',
								data: { id: id },
								success: function (data) {
									services.CustomAlert1(data);
								}
							});
						}
					});
				}
			});

		</script>
}
