@{
	ViewData["Title"] = "Home Page";
}

<main id="main" class="main">

	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body">
						<h5 class="card-title">รายงาน <span>| WorkList</span></h5>
						<table class="table table-bordered">
							<tbody>
								<tr>									
									<th scope="col">เลขที่เอกสาร</th>
									<th scope="col">วันที่สร้าง</th>
									<th scope="col">ชื่อ-นามสกุล</th>
									<th scope="col">หัวเรื่อง</th>
									<th scope="col">รออนุมัติโดย</th>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td><span class="badge bg-info me-1">แสดง</span></td>
									<td>#11050</td>
									<td>#100,000</td>
									<td>#100,000</td>
									<td>#100,000</td>
								</tr>			
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

