@{
	ViewData["Title"] = "Home Page";
}

<main id="main" class="main">

	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body">
						<h5 class="card-title">รายงาน <span>| WorkList</span></h5>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th class="text-center" scope="col">เลขที่เอกสาร</th>
									<th scope="col">วันที่สร้าง</th>
									<th scope="col">ชื่อ-นามสกุล</th>
									<th scope="col">หัวเรื่อง</th>
									<th scope="col">รายงาน</th>
									<th class="text-center" scope="col">สถานะ</th>
									<th scope="col">รออนุมัติโดย</th>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td class="text-center"><span class="badge bg-info me-1">##1150</span></td>
									<td>10/10/204</td>
									<td>ชาติ เลิศคุณวงส์</td>
									<td>ขออนุมัติสั่งซื้อเรือดำน้ำ</td>
									<td>ประยุทธ์ จันทร์นะจ๊ะ</td>
									<td class="text-center"><span class="badge bg-info me-1">สำเร็จ</span></td>
									<td>อิอิ</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

