@using Document_Control.Core.pageModels.PurchaseRequisition
@{
	ViewData["Title"] = "Home Page";
}
@model Document_Control.Core.pageModels.Home.Worklist
<main id="main" class="main">

	<section class="section dashboard">
		<div class="row">
			<div class="col-lg-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body">
						<h5 class="card-title">รายงาน <span>| WorkList</span></h5>
						@await Component.InvokeAsync("WorkListTableComponent", Model.data)
					</div>
				</div>
			</div>
		</div>
		<div id="modalContainer">
			@await Html.PartialAsync("_ModalShowAproval", new ModalShowApproval())
		</div>
	</section>
</main>


@section Scripts {
	<script>
		function showListApproval(positionId) {
			$.ajax({
				url: '@Url.Action("LoadPositionApproval", "PurchaseRequisition")',
				type: 'GET',
				data: { id: positionId },
				success: function (result) {
					$('#modalContainer').html(result);
					$('#positionApprove').modal('show');
				}
			});
		}
	</script>
}
