@{
	ViewData["Title"] = "ManageUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
	<form id="formdata">
		<section class="section dashboard">
			<h1>ManageUser</h1>
		</section>
	</form>
</main>
@section Scripts {
	<script>
		$(document).ready(function () {

		}
	</script>
}