@{
	ViewData["Title"] = "การขนส่งและพัสดุ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">



	<section class="section profile">
		<div class="row">
			<div class="col-xl-4">

				<div class="card">
					<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
						<img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
						<h2>ประยุทธ์ จันทร์นะจ๊ะ</h2>
						<h3>นรกรัฐมนตรี</h3>

					</div>
				</div>

			</div>

			<div class="col-xl-8">

				<div class="card">
					<div class="card-body pt-3">
						<!-- Bordered Tabs -->
						<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

							<li class="nav-item" role="presentation">
								<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">ข้อมูลส่วนตัว</button>
							</li>

							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" role="tab" tabindex="-1">ยืนยันตัวตน</button>
							</li>

							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" role="tab" tabindex="-1">ตั้งค่าระบบ</button>
							</li>

							<li class="nav-item" role="presentation">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" role="tab" tabindex="-1">เปลี่ยนรหัสผ่าน</button>
							</li>

						</ul>
						<div class="tab-content pt-2">
							<div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
								<div class="row mt-2">
									<div class="col-lg-3 col-md-4 label mt-2">ชื่อ - นามสกุล</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-4 label mt-2">หมายเลขโทรศัพท์</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-4 label mt-2">อีเมล์</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="text-center">
										<button type="button" class="btn btn-primary btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>บันทึกและเปลี่ยนแปลง</button>
									</div>
								</div>
							</div>


							<div class="tab-pane fade profile-overview" id="profile-edit" role="tabpanel">
								<div class="row mt-2">
									<div class="col-lg-3 col-md-4 label mt-2">ชื่อ - นามสกุล</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-4 label mt-2">หมายเลขโทรศัพท์</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-4 label mt-2">อีเมล์</div>
									<div class="col-lg-9 col-md-8">
										<input class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="text-center">
										<button type="button" class="btn btn-primary btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>บันทึกและเปลี่ยนแปลง</button>
									</div>
								</div>
							</div>


							<div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">

								<!-- Settings Form -->
								<form>

									<div class="row mb-3">
										<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
										<div class="col-md-8 col-lg-9">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="changesMade" checked="">
												<label class="form-check-label" for="changesMade">
													Changes made to your account
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="newProducts" checked="">
												<label class="form-check-label" for="newProducts">
													Information on new products and services
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="proOffers">
												<label class="form-check-label" for="proOffers">
													Marketing and promo offers
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="securityNotify" checked="" disabled="">
												<label class="form-check-label" for="securityNotify">
													Security alerts
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="text-center">
											<button type="button" class="btn btn-primary btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>บันทึกและเปลี่ยนแปลง</button>
										</div>
									</div>
								</form><!-- End settings Form -->

							</div>

							<div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
								<!-- Change Password Form -->
								<form>

									<div class="row mb-3">
										<label class="col-md-4 col-lg-3 col-form-label">รหัสผ่านเดิม</label>
										<div class="col-md-8 col-lg-9">
											<input  type="password" class="form-control" id="currentPassword">
										</div>
									</div>

									<div class="row mb-3">
										<label class="col-md-4 col-lg-3 col-form-label">รหัสผ่านใหม่</label>
										<div class="col-md-8 col-lg-9">
											<input type="password" class="form-control" id="newPassword">
										</div>
									</div>

									<div class="row mb-3">
										<label  class="col-md-4 col-lg-3 col-form-label">ยืนยันรหัสผ่านใหม่</label>
										<div class="col-md-8 col-lg-9">
											<input  type="password" class="form-control" id="renewPassword">
										</div>
									</div>

									<div class="row">
										<div class="text-center">
											<button type="button" class="btn btn-primary btn-sm"><i class="ri-save-2-fill me-1 icon-size-btn"></i>บันทึกและเปลี่ยนแปลงรหัสผ่าน</button>
										</div>
									</div>
								</form><!-- End Change Password Form -->

							</div>

						</div><!-- End Bordered Tabs -->

					</div>
				</div>

			</div>
		</div>
	</section>

</main>


@section Scripts {
	<script>
		$(document).ready(function () {

		});



	</script>
}